{%- cache "footer", items: [current_store, current_customer, current_privacy] -%}
  {% comment %} Store info {% endcomment %}
  {% default store_phone: theme_variables['sc.footer.store.phone'] %}
  {% default store_email: theme_variables['sc.footer.cta.email'] %}
  {% default store_street_address: theme_variables['sc.footer.store.street.address'] %}
  {% default store_city_address: theme_variables['sc.footer.store.city.address'] %}
  {% default store_postcode_address: theme_variables['sc.footer.store.postcode.address'] %}
  {% default store_country_address: theme_variables['sc.footer.store.country.address'] %}

  {% comment %} Store social links {% endcomment %}
  {% default facebook_url: theme_variables['sc.social.facebook']%}
  {% default x_url: theme_variables['sc.social.x'] %}
  {% default youtube_url: theme_variables['sc.social.youtube'] %}
  {% default linkedin_url: theme_variables['sc.social.facebook'] %}

  {%- if current_store.footer != blank %}
    {{ current_store.footer.render }}
  {%- else %}
    {%- capture store_logo %}
      <a href="{{ current_store.home_path }}" class="SC-Logo">
        {%- if current_store.logo != blank %}
          <img src="{{ current_store.logo.url }}" class="SC-Logo_image">
        {%- else %}
          <svg
            class="SC-Placeholder"
            width="180px"
            viewBox="0 0 180 40">
            <rect
              width="100%"
              height="100%"
              rx="20"></rect>
          </svg>
        {%- endif %}
      </a>
    {%- endcapture %}
    <footer class="SC-Footer" id="SC-Footer">
      <div class="sc-container">
        <div class="sc-one-to-three-column sc-gap-xlarge-medium-and-up">
          <div>
            {{ store_logo }}<br>
            <p class="sc-font-base sc-mt-base">{{ "sc.footer.store.description" | t }}</p>
            {% render 'shared/social',
              fb: facebook_url,
              x: x_url,
              youtube: youtube_url,
              in: linkedin_url
            %}
          </div>
          <div class="sc-md:pt-medium sc-md:justify-self-center">
            <h3>{{ "sc.footer.quick.links" | t }}</h3>
            {{ all_menus['quick-links'].render }}
          </div>
          <div class="sc-md:pt-medium sc-md:justify-self-center">
            <h3>{{ "sc.footer.cta.title" | t }}</h3>
            <p class="sc-font-base sc-line-height">
              {% if store_phone != blank %}
                {{ "Phone:" }} {{ store_phone }}<br>
              {% endif %}
              {% if store_email %}
                {{ "Email:"}} {{ store_email }}<br>
              {% endif %}
              <br>
              {% if store_street_address != blank %}{{ "Address:"}} {{ store_street_address }} <br>{% endif %}
              {% if store_city_address != blank %} {{ store_city_address }},{% endif %}
              {% if store_postcode_address != blank %} {{ store_postcode_address }},{% endif %}
              {% if store_country_address != blank %} {{ store_country_address }}{% endif %}
            </p>
          </div>
        </div>
        {%- if current_store.footer_menu != blank %}
          {{ current_store.footer_menu.render }}
        {%- endif %}
        <div class="sc-shade-neutral sc-font-small sc-border-top sc-pt-xlarge sc-pb-base sc-mt-xlarge">
          &copy; {{ current_store.name | default: "StoreConnect" }} {{ current_store.timezone | now | date: "%Y" }}
          {%- if current_privacy.accepted? %}
            <div>
              <a class="sc-show-privacy-settings">{{ "privacy.manage_settings" | t }}</a>
            </div>
          {%- endif %}
        </div>
      </div>
    </footer>
  {%- endif %}
{%- endcache %}
